@font-face {
    font-family: OxygenMono-Regular;
    src: url(resources/OxygenMono-Regular.ttf);
}
body {
    min-width: 840px;
    max-width: 1920px;
    background: url("resources/background.png") repeat fixed;
    color: white;
    font-family: OxygenMono-Regular;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navigation */
nav{
    height: 8vh;
    width: 50vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    margin-left: 25vw;
}
nav li {
    margin: auto 2vw;
}
nav a {
    text-decoration: none;
}
/* section */
section {
    height: 90vh;
    width: 90vw;
    padding-top: 10vh;
    margin-left: 5vw;
}
#home h1 {
    flex: 4;
    margin-right: 1vw;
}
#home p {
    flex: 1;
    margin-right: 1vw;
}
#home ul {
    flex: 1;
}
#about h2 {
    flex: 4;
}
#about article {
    flex: 3;
    margin-left: 1vw;
    margin-top: 25vh;
    align-self: flex-start;

}
#tec h2 {
    flex: 1;
}
#tec ul {
    flex: 3;
}
.credit{
    height: 5vh;
    width: 5vw;
    position: absolute;
    right: 0;
    top: 1vh;
    font-size: x-small;
    width: 10vw;
}
.credit a {
    text-decoration: none;
}